*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    padding: 12px;
    background-color: rgb(255, 67, 43);
    color: white;
    display: flex;
    flex-direction: row;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin-right: 20px;
}

#logo img{
    height: 50px;

}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#navbar ul li{
    list-style: none;
    padding: 18px;
    padding: 18px 5px;
}

#navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 23px;
}




#introsection:before{
    content: "";
    background: url('../static/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -450px;
    position: absolute;
    top: 84px;
    left: 0px;
    width: 100%;
    height: 301px;
    z-index: -1;
    opacity: 0.5;
}
#introsection{
    padding-bottom: 20px;
    height: 300px;
    font-weight: bold;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introsection div#content{
    margin: 8px;
    font-size: 25px;
}



#missionsection{
    height: 300px;
}

#missionsection .card{
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(255, 187, 187);
    width: 30%;
    display: inline-block;
    margin: 20px 25px;
    height: 190px;
    padding: 10px 8px;
}
.card h3{
    text-align: center;
}

.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img{
    /* padding-left: 8px; */
    padding-top: 10px;
}

.card-img img{
    height: 130px;
}

.card-content{
    padding: 20px;
}

    
#sponsorssection,#missionsection h2{
    text-align: center;
    padding-top: 12px;
}

#sponsorssection{
    height: 300px;
    background-color: #b2ffff;
}

#sponsor{
    height: 205px;
    max-width: 1000px;
    margin: 20px auto;
}

.spimage{
    height: 170px;
    margin: 10px 15px;
}


#footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
}